body, h1, h2 {
  background : #fffeee;
  margin : 10px;
  padding : 0px;
}

.center {
  margin : 0 auto;
  width : 1080px;
}

#head {
  margin-top : 30px;
}

#head .face {
  background : #333;
  display : block;
  float : left;
  height : 350px;
  margin-right : 15px;
  overflow : hidden;
  width : 350px;
}

#head .info {
  height : 350px;
  width : 900px;
}

#head .info .sub {
  font-size : 18px;
  line-height : 20px;
  margin-left : 10px;
}

h2 {
  color : #333;
  font-size : 25px;
  line-height : 25px;
}

h3 {
  border-bottom : 2px solid #3299cc;
  color : #5c3317;
  font-size : 20px;
  font-weight : 900;
  line-height : 30px;
  margin : 0px;
  width : 1080px;
}

p {
  font-size : 14px;
}

img {
  border : none;
}

table {
  border : none;
  /* border : 1px solid black; */
  border-collapse : collapse;
  /* border-spacing : 0px; */
  font-size : 14px;
  /* width : 1000px; */
}

td {
  /* border : 1px solid black; */
  padding-right : 15px
}

th {
  font-size : 14px;
  padding-top : 15px;
  text-align : left;
}

#footer {
  color : #000000;
  font-family : 'Tangerine',serif;
  height : 60px;
  line-height : 60px;
  text-align : center;
  text-shadow : 6px 6px 6px #aaa;
}

.tex sub, .latex sub, .latex sup {
  text-transform : uppercase;
}

.tex sub, .latex sub {
  margin-left : -0.1667em;
  margin-right : -0.125em;
  vertical-align : -0.5ex;
}

.tex, .latex, .tex sub, .latex sub {
  font-size : 1em;
}

.latex sup {
  font-size : 0.85em;
  margin-left : -0.36em;
  margin-right : -0.15em;
  vertical-align : 0.15em;
}

.left {
  margin-left : 20px;
}

.padtd {
  padding-top : 10px;
}

.subtd {
  padding-left : 20px;
}

.subsubtd {
  padding-left : 40px;
}
